# Managed by Ansible for target {{ target_id }}
# Cluster: {{ cluster_name }}.{{ base_dns_domain }}

address=/api.{{ cluster_name }}.{{ base_dns_domain }}/{{ sno_ip_address }}
address=/api-int.{{ cluster_name }}.{{ base_dns_domain }}/{{ sno_ip_address }}
address=/.apps.{{ cluster_name }}.{{ base_dns_domain }}/{{ sno_ip_address }}
